@import "../../GlobalStyles/maxins";

.contact-us-wrapper {
  .contact-us-banner {
    background-color: #060606;
    color: white;
    padding-top: 5rem;
    .contact-banner-heading {
      @include flexLayoutWithAlignCenter();
      @include flexDirectionColumn();
      @include flexJustifyContent(center);
    }
    .contact-title {
      @include fontWeight(400);
      @include mobileMedia() {
        font-size: 3rem;
      }
    }
    .contact-para {
      text-align: center;
      margin-bottom: 10%;
    }
  }
  .contact-us-layout {
    color: white;
    .contact-card {
      display: flex;
      align-items: center;
      .contact-card-icon {
        font-size: 2rem;
        margin-right: 1rem;
        @include mobileMedia() {
          margin-right: 0rem;
        }
        @include tabletMedia() {
          margin-right: 0rem;
        }
      }
      .contact-card-content {
        a {
          color: white;
          @include novelTransitionDefault(300ms);
          &:hover {
            color: #8b8b8b;
            @include novelTransitionDefault(500ms);
          }
        }
      }
      @include mobileMedia() {
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #626262;
        width: 100%;
        text-align: center;
      }
      @include tabletMedia() {
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
      }
    }
  }
  .contact-layout {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    align-items: center;
    @include mobileMedia() {
      flex-direction: column;
      align-items: flex-start;
    }

    & > * {
      flex: 1;
    }
  }
  .contact-form-section {
    position: relative;
    overflow: hidden;
    padding-top: 8rem;
    padding-bottom: 8rem;
    @include mobileMedia() {
      padding-top: 2rem;
      padding-bottom: 0;
    }
    .section-form {
      .get_in_touch-heading {
        font-size: 3rem;
        @include fontWeight(400);
      }
      .contact-sub-heading {
        font-size: 1.4rem;
        @include fontWeight(400);
        margin-bottom: 1rem;
      }
      .form-card {
        border: 1px solid #cfcfcf;
        max-width: 60%;
        @include mobileMedia() {
          max-width: 100%;
        }

        background-color: white;
        padding: 1rem;
        border-radius: 4px;
        .form-inputs {
          @include displayType(grid);
          @include gridContainerMinWidth(40%);
          gap: 1rem;
        }
        .contact-label {
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 0.5rem;
          text-transform: uppercase;
          @include letterSpacing(1px);
        }
      }
    }
    .section-image-wrapper {
      height: 100%;
      .section-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 50%;
        height: 70%;
        z-index: -1;
        object-fit: cover;
        @include mobileMedia() {
          width: 0;
        }
      }
    }
  }
}
