@import "../../GlobalStyles/maxins";

.contact-us-wrapper {
  .contact-us-banner {
    background-color: #060606;
    color: white;
    padding-top: 5rem;
    .contact-banner-heading {
      @include flexLayoutWithAlignCenter();
      @include flexDirectionColumn();
      @include flexJustifyContent(center);
    }
    .contact-title {
      @include fontWeight(400);
      @include mobileMedia() {
        font-size: 3rem;
      }
    }
    .contact-para {
      text-align: center;
      margin-bottom: 10%;
    }
  }
  .contact-us-layout {
    color: white;
    .contact-card {
      display: flex;
      align-items: center;
      .contact-card-icon {
        font-size: 2rem;
        margin-right: 1rem;
        @include mobileMedia() {
          margin-right: 0rem;
        }
        @include tabletMedia() {
          margin-right: 0rem;
        }
      }
      .contact-card-content {
        a {
          color: white;
          @include novelTransitionDefault(300ms);
          &:hover {
            color: #8b8b8b;
            @include novelTransitionDefault(500ms);
          }
        }
      }
      @include mobileMedia() {
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #626262;
        width: 100%;
        text-align: center;
      }
      @include tabletMedia() {
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
      }
    }
  }
  .contact-layout {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    align-items: center;
    @include mobileMedia() {
      flex-direction: column;
      align-items: flex-start;
    }

    & > * {
      flex: 1;
    }
  }
}
