@import "../../../GlobalStyles/maxins";

.forgot-password-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .forgot-password {
    max-width: 80%;
    width: 100%;
    &--heading {
      @include fontFamily();
      @include letterSpacing(2.5px);
      @include fontWeight(600);
      font-size: clamp(1rem, 5vw, 2rem);
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 2rem;
    }
    .forgot-button {
      width: auto;
      @include mobileMedia() {
        width: 100%;
      }
    }
  }
  .forgot-password--right {
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/logo_novel_png.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    @include mobileMedia() {
      display: none;
    }
  }
  @include mobileMedia() {
    grid-template-columns: repeat(1, 1fr);
  }
}
