@import "../../GlobalStyles/maxins";

.login-container {
  width: 400px;
  max-width: 400px;
  @include mobileMedia() {
    width: 100%;
    max-width: 100%;
  }
  .sign-up-container {
    @include fontWeight(400);
    .sign-up-heading {
      @include fontWeight(300);
      span {
        cursor: pointer;
        font-size: 1.125rem;
        @include fontWeight(400);
      }
    }
  }
}
