@import "../../GlobalStyles/maxins";

.novel-dd-root {
  --padding: 1em;
  @include displayType(flex);
  flex-direction: column;
  position: relative;
  background-color: white;
  width: 100%;
  color: #060606;
  font-size: 1em;
  .novel-dd-header {
    @include displayType(flex);
    @include flexAlignItem(center);
    @include flexJustifyContent(space-between);
    flex: 1;
    padding-inline: var(--padding);
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;
    outline: 0.11em solid #060606;
    min-height: 68px;
    border-radius: 4px;
    margin-top: 0.2em;
  }
  .novel-dd-title {
    width: inherit;
    max-width: 28em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .novel-dd-toggle-icon {
    cursor: pointer;
    font-weight: 600;
    @include novelTransitionDefault(800ms);
    &.clear-value {
      margin-right: 0.7em;
    }
  }
  .novel-dd-list {
    position: fixed;
    top: auto;
    bottom: auto;
    height: 0;
    margin-top: 0.2em;
    background-color: white;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: currentColor;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
    min-height: 0;
    overflow-y: auto;
    height: 0;
    z-index: 99999;
    &--hide {
      height: 0;
      // max-height: 0;
      @include novelTransitionDefault(max-height, 200ms, ease-out);
    }
    &--show {
      height: auto;
      max-height: 10em;
      @include novelTransitionDefault(max-height, 200ms, ease-out);
    }
    .novel-dd-item {
      padding-inline: var(--padding);
      padding-block: var(--padding);
      cursor: pointer;
      animation: drop-down-item 0.3s ease-in;
      &:hover {
        @include novelTransitionDefault(background, 300ms);
        color: white;
        background: rgba(6, 6, 6, 0.7);
      }
      &--selected {
        color: white;
        background: rgba(6, 6, 6, 0.7);
      }
    }
  }
}
