@import "../../../GlobalStyles/maxins";

.sign-up-wrapper {
  height: 100vh;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include mobileMedia() {
    grid-template-columns: repeat(1, 1fr);
  }
  .sign-up-left-section {
    .sign-up-form {
      max-width: 80%;
      width: 100%;
      &--heading {
        @include fontFamily();
        @include letterSpacing(3px);
        @include fontWeight(600);
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        color: rgba(0, 0, 0, 0.7);
        text-align: center;
      }
      &--subheading {
        color: rgba(0, 0, 0, 0.6);
        text-align: left;
        font-size: 1.1rem;
      }
    }
  }
  .sign-up-right-section {
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/logo_novel_png.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    @include mobileMedia() {
      display: none;
    }
  }
}
