@import "./maxins";

.container {
  width: calc(100% - 200px);
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 736px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 562px) {
  .container {
    width: 90% !important;
  }
}

.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}

.flex-1 {
  flex: 1;
  width: 100%;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 9px;
  cursor: pointer;
  border: 0px;
  outline: none;
  font-weight: normal;
  max-width: 100%;
  min-width: 100px;
  border-radius: 8px;
  text-transform: uppercase;
  //   background: rgba(37, 23, 23, 1);
  font-family: inherit;
  background-color: transparent;
  padding: 0.25em 0.75em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  text-align: center;
  line-height: 1.1;
  color: $text-primary-color;
  border: 1px solid currentColor;
  @include novelTransitionDefault();
  &:hover,
  &:active,
  &:focus {
    border: 1.5px solid currentColor;
  }
  &--small {
    font-size: 1.15rem;
  }
  &--large {
    font-size: 2rem;
  }
  &--block {
    width: 100%;
  }
}

.mblock-1 {
  margin-block: 1rem;
}

.text-center {
  text-align: center;
}
