@import "./maxins";
.fluid-container {
  width: 100%;
}

.container {
  width: calc(100% - 200px);
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 562px) {
  .container {
    width: 90%;
  }
}
@media only screen and (max-width: 736px) {
  .container {
    width: 90%;
  }
}

.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.m-auto {
  margin: auto;
}
.ml-5px {
  margin-left: 5px;
}

.flex-1 {
  flex: 1;
  width: 100%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
}
.flex-align-center {
  align-items: center;
}
.flex-justify-space-between {
  justify-content: space-between;
}
.mblock-1 {
  margin-block: 1rem;
}
.mblock-0 {
  margin-block: 0 !important;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mt-0 {
  margin-top: 0;
}
.mt-2 {
  margin-top: 2rem;
}
.mr-1 {
  margin-right: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.m-auto {
  margin-left: auto;
  margin-right: auto;
}
.m-0 {
  margin: 0 !important;
}

.pblock-1 {
  padding-block: 1rem;
}
.p-1 {
  padding: 1rem;
}

.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-left {
  text-align: left;
}
.fw-bold {
  font-weight: 600;
}
.fw-normal {
  font-weight: 400;
}
.text-uppercase {
  text-transform: uppercase;
}

/** Font Size class*/
.fs-textSm {
  font-size: 0.5rem;
}
.fs-textMd {
  font-size: 1rem;
}
.fs-textXl {
  font-size: 2rem;
}

.bg-transparent {
  background-color: transparent !important;
  background: transparent !important;
}

.w-full {
  width: 100%;
}
.w-50 {
  width: 50%;
}

/* Grid Classes start */
.grid-container {
  display: grid;
}
.grid-gap-1 {
  gap: 1rem;
}
.grid-container-fill {
  @include gridContainerMinWidth(450px);
}

.text-decoration-none {
  text-decoration: none;
  transition: all 0.5s ease-in;
}
.text-decoration-none:hover {
  text-decoration: underline;
  transition: all 0.5s ease-in;
}
.text-archor-color {
  color: rgba(0, 0, 238, 1);
}

.letter-spacing-3 {
  @include letterSpacing(3px);
}

.border-hr-line {
  border-top: 1px solid currentColor;
  &--gray {
    border-top: 1px solid #626262;
  }
}
.border-bottom-0 {
  border-bottom: 0 !important;
}
.border-solid {
  border: 1px solid currentColor !important;
}
.br-round {
  border-radius: 30px !important;
}
.pos-relative {
  position: relative;
}
.pos-sticky {
  position: sticky;
}

.novel-form-input,
.novel-form-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}

/*
Common Bg-class
*/
.bg-success {
  background: #5cb85c;
  color: #ffffff;
}
.bg-error {
  background: #d9534f;
  color: #ffffff;
}
.bg-warning {
  background: #f0ad4e;
  color: #000000;
}
.bg-info {
  background: #5bc0de;
  color: #ffffff;
}
.bg-white {
  background-color: white;
  background: white;
}
/** Box Shadow classes */
.no-box-shadow {
  box-shadow: none !important;
}

.h-full {
  height: 100% !important;
}

.image-fit-cover {
  object-fit: cover;
}
.image-fit-contain {
  object-fit: contain;
}
