@mixin flexLayoutWithAlignCenter {
  display: flex;
  align-items: center;
}
@mixin flexDirectionColumn {
  flex-direction: column;
}

@mixin novelTransitionDefault {
  transition: 500ms all ease-in-out;
}
