@import "../../../GlobalStyles/maxins";

.backdrop-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  @include novelTransitionDefault(500ms);
}
