@import "../../GlobalStyles/maxins";

.home-page-wrapper {
  position: relative;
  .home-page-banner {
    @include novelTransitionDefault(300ms);
    margin-top: 1rem;
    padding-block: 2rem;
  }
  .home-page-banner-left {
    max-width: 70%;
    margin-top: 2rem;
    @include mobileMedia() {
      max-width: 100%;
    }
    @include tabletMedia() {
      max-width: 100%;
    }
    @include novelTransitionDefault(300ms);
    .home-heading-1 {
      margin-bottom: 32px;
      font-size: 84px;
      line-height: 1.095em;
      color: #060606;
      @include fontWeight(300);
      @include mobileMedia() {
        font-size: 24px;
      }
      @include tabletMedia() {
        font-size: 38px;
      }
    }
    .home-para {
      max-width: 60%;
      font-size: 18px;
      @include fontWeight(400);
      @include mobileMedia() {
        max-width: 100%;
      }
      @include largeScreenDesktopMedia() {
        max-width: 40%;
      }
    }
    .home-page-buttons {
      margin-top: 2rem;
      @include mobileMedia() {
        & > * {
          width: 100%;
          margin-bottom: 0.5rem;
        }
      }
      @include tabletMedia() {
        & > * {
          width: auto;
        }
      }
    }
  }
  .home-page-banner-right {
    height: 100%;
    .home-page-banner-image {
      position: absolute;
      top: 0;
      left: 50%;
      width: 46%;
      bottom: 0;
      height: 100%;
      z-index: -1;
      object-fit: cover;
      @include mobileMedia() {
        width: 0;
        z-index: -10;
      }
      @include tabletMedia() {
        width: 0;
      }
      @include largeScreenDesktopMedia() {
        width: 50%;
      }
    }
  }
}
