@import "../../GlobalStyles/variable";
@import "../../GlobalStyles/maxins";

.footer-wrapper {
  width: 100%;
  background-color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  border-top: 1px solid currentColor;
  .footer-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo-wrapper {
    height: 6rem;
    width: 6rem;
    margin-bottom: 1rem;
  }
  .footer-logo-title {
    color: #606060;
    font-size: 1.2rem;
    font-weight: 400;
    @include letterSpacing(2px);
  }
  .follow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .follow-social-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .social-icon-item {
        @include flexLayoutWithAlignCenter();
        @include flexJustifyContent(center);
        background-color: black;
        padding: 1rem;
        width: 40px;
        height: 40px;
        margin: 0.5rem;
        color: white;
        cursor: pointer;
        box-shadow: 1px 1px rgba(0, 0, 0, 0.8);
        &:hover {
          background-color: white;
          color: black;
          border: 1px solid black;
          border-radius: 4px;
          @include novelTransitionDefault(500ms);
        }
      }
    }
  }
  .footer-service-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    .footer-service-heading {
      margin-bottom: 2rem;
      color: #060606;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.25px;
      text-transform: capitalize;
      @include letterSpacing(0.04em);
    }
    .footer-service-lists {
      display: inline-block;
      .footer-service-items {
        position: relative;
        width: fit-content;
        margin-bottom: 1rem;
        line-height: 1em;
        color: #626262;
        font-size: 1.2rem;
        cursor: pointer;
        @include letterSpacing(0.08em);
        text-transform: uppercase;
        a {
          color: #626262;
        }
        &::after {
          @include novelElementAbsoluteFullWidthHeight(0, 2px);
          background-color: #040404;
          bottom: -4px;
          opacity: 0;
          display: block;
          @include novelTransitionDefault(200ms);
        }
        &:hover {
          &::after {
            opacity: 1;
            width: 100%;
            @include novelTransitionDefault(300ms);
          }
        }
      }
    }
    .contact-us-address {
      line-height: 1.5em;
      margin-bottom: 1rem;
      color: #626262;
      font-size: 1.2rem;
      width: 80%;
    }
  }

  @include mobileMedia() {
    .footer-service-contact {
      grid-template-columns: 1fr;
    }
    .footer-upper,
    .follow-container {
      flex-direction: column;
      align-items: flex-start;
      margin-block: 1rem;
    }
  }
}
