@import "../../../GlobalStyles/maxins";

.novel-input-wrapper {
  @include displayType(block);
  width: 100%;
  .novel-suite-input {
    @include novelTransitionDefault(300ms);
    font-size: 1rem;
    &--large {
      padding: 22px 10px;
      min-height: 3.2rem;
    }
    &--error {
      border-color: red;
      border-width: 1px;
      border-style: solid;
    }
    &:active,
    &:focus {
      border: 0;
      outline: 2px solid black;
      border-radius: 2px;
      @include novelTransitionDefault(100ms);
    }
    &::placeholder {
      text-transform: uppercase;
    }
  }

  &--error {
    @include fontColor(red);
  }
}
