@import "../../../GlobalStyles/maxins";
@import "../../../GlobalStyles/variable";

.novel-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  text-align: center;
  padding: 18px 2vw;
  font-size: 1rem;
  line-height: 1.125em;
  letter-spacing: 0.08em;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border: 1px solid currentColor;
  @include novelTransitionDefault();
  &:hover,
  &:active,
  &:focus {
    border: 1px solid currentColor;
  }
  &--small {
    font-size: 1.15rem;
  }
  &--large {
    padding: 24px 58px;
  }
  &--block {
    width: 100%;
  }
  &--secondary-text {
    color: #606060;
    z-index: 1;
    @include novelTransitionDefault();
    &:after {
      @include novelElementAbsoluteFullWidthHeight();
      background-color: #fff;
      z-index: -2;
    }
    &:before {
      @include novelElementAbsoluteFullWidthHeight(0%);
      @include novelTransitionDefault(300ms);
      background-color: darken(#606060, 100%);
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
  &--primary {
    color: #fff;
    z-index: 1;
    @include novelTransitionDefault();
    &:after {
      @include novelElementAbsoluteFullWidthHeight();
      background-color: darken(#606060, 100%);
      z-index: -2;
    }
    &:before {
      @include novelElementAbsoluteFullWidthHeight(0%);
      @include novelTransitionDefault(300ms);
      background-color: darken(#fff, 0);
      z-index: -1;
    }
    &:hover {
      color: #606060;
      &:before {
        width: 100%;
      }
    }
  }
  &--disabled {
    pointer-events: none;
    color: black;
    border: 0;
    &::after {
      @include novelElementAbsoluteFullWidthHeight(100%);
      background-color: #ccc;
      @include novelTransitionDefault(300ms);
    }
  }
}
