@import "../../GlobalStyles/maxins";

.sign-up-wrapper {
  .sign-card {
    @include borderRadius(4px);
    margin: 1rem;
    @include mobileMedia() {
      margin: 0;
    }
  }
  .sign-container {
    @include displayType(grid);
    grid-template-columns: 40% 1fr;
    gap: 1rem;
    padding: 2rem;
    @include mobileMedia() {
      grid-template-columns: 1fr;
      padding: 1rem;
    }
  }
  .sign-up-form-container {
    // @include cardBoxShadow();
  }
  .form-heading {
    @include letterSpacing(3px);
    line-height: 1;
    font-size: 2rem;
    .form-title {
      @include fontWeight(400);
      @include fontFamily();
      font-size: 2rem;
      text-transform: capitalize;
      line-height: 1.2;
      text-align: start;
    }
    .form-sub-title {
      @include fontWeight(500);
      @include letterSpacing(2px);
      line-height: 1;
      margin-block: 0.7em;
      text-align: start;
      font-size: 1.8rem;
      @include mobileMedia() {
        font-size: 1rem;
      }
    }
  }
  .sign-up-logo {
    @include mobileMedia() {
      display: none;
    }
    @include tabletMedia() {
      display: block;
      img {
        width: 100%;
        aspect-ratio: 16/9;
        background-size: cover;
        object-fit: cover;
        border-radius: 0.3em;
        height: 100%;
      }
    }
  }
  .sign-up-form > * {
    margin-top: 1rem;
  }
}
