@import "../../GlobalStyles/variable";
@import "../../GlobalStyles/maxins";

.appheader-wrapper {
  @include flexLayoutWithAlignCenter();
  @include novelTransitionDefault(00ms);
  color: $text-primary-color;
  padding: 1rem;
  background: $bg-header-color;
  .appheader-logo {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 30%;
  }
  .app-nav-list-container {
    display: flex;
    .app-header-lists {
      align-items: center;
      flex: 1;
      margin-left: auto;
      .app-header-items {
        font-size: 1rem;
        cursor: pointer;
        padding: 0.8rem;
        @include novelTransitionDefault();
        text-transform: uppercase;
        .app-header-link {
          text-decoration: none;
          @include novelTransitionDefault();
          color: $text-primary-color;
        }
        &:hover {
          .app-header-link {
            font-weight: bold;
            text-decoration: underline;
          }
        }
        &:not(last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
  &.header-active {
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
    width: 100%;
    @include novelTransitionDefault(100ms);
  }
  @include mobileMedia() {
    .mobile-navigation {
      @include flexLayoutWithAlignCenter();
      @include flexJustifyContent(center);
      margin-right: 1rem;
      width: 64px;
      height: auto;
      border: 1px solid currentColor;
      background: black;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      @include novelTransitionDefault(300ms);
      .mobile-naviagtion-bars {
        font-size: 2rem;
      }
    }
    .app-header-lists {
      display: none;
    }
    .mobile-naviagtion-list {
      position: fixed;
      top: 11%;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      z-index: 999;
      @include novelTransitionDefault(300ms);
      .app-header-lists {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        margin-block: 1rem;
        width: 100%;
        .app-header-items {
          padding: 2rem;
          font-size: 300%;
          &:hover {
            background-color: #fff;
            color: black;
            @include novelTransitionDefault(300ms);
          }
        }
      }
    }
  }
  @include tabletMedia() {
    .mobile-navigation {
      display: none;
    }
    .app-header-lists {
      display: flex;
    }
  }
  @include largeScreenDesktopMedia() {
    .mobile-navigation {
      display: none;
    }
    .app-header-lists {
      display: flex;
    }
  }
}
